

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&family=Inter:wght@600;700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Shrikhand&display=swap');


$tangerine: #ffac81;
$coral: #FF928B;
$apricot: #FEC3A6;
$vanilla: #EFE9AE;
$teaGreen: #CDEAC0;

$primary: #FF928B;
$secondary: #ffac81;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.congrats-container {
 //position: relative; /* Position relative to contain absolute positioned image */
  min-height: 200px;
  min-width: 100% ;
// width: 100%; /* Set width to match the viewport width */
  overflow: hidden; /* Hide any overflow content */
  display: flex;
  justify-content: center;
}

@keyframes fly{

  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.congrats {
  animation: fly 3s linear;
  position: absolute;
  margin: auto;
  display: block;
  // top: 25%;
  // left: 0;
  //transform: translateX(-100%);
}



.btn {
  margin-left: 2px;
  margin-right: 2px; 
  transition: transform 0.3s ease 0s;
}

.btn:hover {
  transform: translateY(-5px)
}

.overlay {
  position: absolute;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  // bottom: 50;
  // width: 20%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 15px;
  // margin-right: 10px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.col:hover .overlay {
  opacity: 1;
}


.container-sm{
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid $primary;
  box-shadow: 2px 2px 0 0 $tangerine; 
}

.navbar{
  border: 1px solid $primary;
  // box-shadow: 2px 2px 0 0 $tangerine; 
}

.carousel-container {
  border: 1px solid $primary;
  border-radius: 8px;
  padding: 10px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  position: relative;
  background-color: $secondary;
  max-width: 350px;
}

.col-sm {
  padding-bottom: 10px;
}

// @include media-breakpoint-up(lg) {
//   .carousel-container {
//     display: flex; // displays carousel for lg screen
//     margin-left: 2vw;
//   }
  // .login-info-container {
  //   margin-right: 2vw;
  // }
  // .container-sm {
  //   padding-left: calc(15px + 10vw);
  //   padding-right: calc(15px + 10vw);
  // }
// }

